
/* fallback */


html, body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.container{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

.side {
    position:relative;
    width:20%;
    background:white;
    -webkit-transition: all 1s;
}

.side .show-tag {
    background: white;
    position: absolute;
    width: 25px;
    height: 50px;
    left: -25px;
}
.side .nav-tag {
    position: absolute;
    width: 25px;
    height: 50px;
    left: 0px;
}

.side .side-top{
    background: #F3F3F3;
    height:50px;
    justify-content: center;
    align-items: center;
}

.side .side-content {
    flex-grow: 8;
    overflow: auto;
}
.side .side-bottom{
    height:100px;
}

.side.side-hide{
    width:0;
}

.icon-container{
    display:flex;
    align-items:center;
}

.side-bottom > a+a:before{
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}

.side-bottom a{
    display: inline-block;
}

.side-bottom a:last-child{
    color: #C0C0C0;
    cursor:default;
}

.side-bottom a:not(:last-child):hover{
    color:#C0C0C0;
}

.downStairIcon{
    right:0;
    position:absolute;
}

.content{
    width: 100%;
    clear:both;
}

.onem2m-block{
    display:block;
}

/*Override the error space setting in the md*/
md-input-container .md-errors-spacer{
    min-height:12px;
}

