<div ng-controller="SidePanelInfoCtrl as ctrl" class="h100" layout="column">
    <div class="side-panel-top md-whiteframe-1dp" layout="row">
        <div class="nav-tag icon-container" ng-click="parent()" ng-hide="ctrl.isRoot()">
            <span class="material-icons">chevron_left</span>
        </div>
        <h3 class="title" flex>{{ctrl.yourName()|shortToLong}}</h3>
    </div>
    <div class="side-panel-content md-whiteframe-1dp">
        <div ng-repeat="(name,value) in ctrl.yourself()">
            <md-input-container class="md-block">
                <label>{{name|shortToLong}}</label>
                <div class="input">
                    <input ng-if="ctrl.isValue(value)" class="edited" ng-model="value" disabled>
                    <div ng-if="!ctrl.isValue(value)">
                        <input disabled>
                        <span class="material-icons right" ng-click="ctrl.children(name)">chevron_right</span>
                    </div>
                </div>
                <div class="content">

                </div>
                <div class="error" ng-messages>
                    <div ng-message="required">This is Mandatory!</div>
                </div>
            </md-input-container>
        </div>
    </div>
    <div class="side-panel-bottom md-whiteframe-1dp breadcrumb">
        <a ng-repeat="value in ctrl.path" ng-click="ctrl.ancestor($index)">{{value|shortToLong}}</a>
    </div>
</div>
