<div ng-controller="SidePanelUpdateCtrl as ctrl" class="h100" layout="column">
    <div class="side-panel-top md-whiteframe-1dp" layout="row">
        <h3>Update</h3>
        <div class="nav-tag icon-container" ng-click="ctrl.parent()" ng-hide="ctrl.isRoot()">
            <span class="material-icons">chevron_left</span>
        </div>
    </div>
    <div class="side-panel-content md-whiteframe-1dp">
      <div ng-if="ctrl.isArray(ctrl.yourself())">
          <div ng-repeat="(name,value) in ctrl.yourself() as you track by $index">
              <md-input-container class="md-block" ng-if="!$last">
                  <label>{{name|shortToLong}}</label>
                  <md-icon ng-hide="ctrl.isEdited(name)"><i class="material-icons">change_history</i></md-icon>
                  <div class="input">
                      <input ng-disabled="!ctrl.isValue(value)" ng-model="you[name]" filter-complex-type-input>
                      <span class="icons-right">
                        <span class="material-icons" ng-click="ctrl.removeOneItem($index)">remove_circle_outline</span>
                      <span class="material-icons" ng-hide="ctrl.isValue(value)" ng-click="ctrl.children(name)">chevron_right</span>
                      </span>
                  </div>
              </md-input-container>
          </div>
          <section layout="row">
              <md-button flex ng-click="ctrl.addOneItem()" class="md-raised" md-no-ink="true" md-ripple-size="full">+</md-button>
              <md-button flex ng-click="ctrl.submit(ctrl.request)" class="md-raised md-primary" md-no-ink="true" md-ripple-size="full">Submit</md-button>
          </section>
      </div>
      <div ng-if="!ctrl.isArray(ctrl.yourself())">
          <div ng-repeat="(name,value) in ctrl.yourself() as you">
              <md-input-container class="md-block">
                  <label>{{name|shortToLong}}</label>
                  <md-icon ng-hide="ctrl.isEdited(name)"><i class="material-icons">change_history</i></md-icon>
                  <div class="input">
                      <input ng-disabled="!ctrl.isValue(value)" ng-model="you[name]" filter-complex-type-input>
                      <span class="material-icons icons-right" ng-show="!ctrl.isValue(value)" ng-click="ctrl.children(name)">chevron_right</span>
                  </div>
              </md-input-container>
          </div>
          <section layout="row">
              <md-button flex ng-click="ctrl.submit(ctrl.request)" class="md-raised md-primary" md-no-ink="true" md-ripple-size="full">Submit</md-button>
          </section>
      </div>
    </div>
    <div class="side-panel-bottom md-whiteframe-1dp breadcrumb" ng-include="'template/side-panel-bottom.tplt.html'"></div>
</div>
