<div class="side md-whiteframe-1dp" ng-class="{'side-show':side.show}">
    <div class="icon-container side-tag md-whiteframe-1dp " ng-click="toggleSide()">
        <span class="material-icons">{{side.icon}}</span>
    </div>

    <div class="icon-container side-top md-whiteframe-1dp">
        <div flex="5" class="icon-container" ng-hide="isTopStair()" ng-click="upperStair()">
            <div class="material-icons">chevron_left</div>
        </div>
        <h3 flex="90" style="text-align: center">{{currentStairName()}}</h3>
    </div>

    <div class="side-content">
        <div ng-repeat="(key,value) in currentStair() as current">
            <onem2m-input-container key="key" value="current[key]"></onem2m-input-container>
        </div>
    </div>

    <div class="side-bottom md-whiteframe-1dp">
        <md-divider></md-divider>
        <a ng-repeat="value in side.stairs" ng-click="goToStair($index)">{{value}}</a>
    </div>
</div>